{{#partial "contenido"}}

<div class="jumbotron">
	<h1>Administrador</h1>
	<p><a href="admin/pois"><input type="button" name="pois" value="pois"> </input></a></p>
	<p><a href="admin/terminales"><input type="button" name="terminales" value="terminales"></input></a></p>
	<p><a href="admin/busquedas"><input type="button" name="historial" value="historial"></input></a></p>
</div>	
{{/partial}}
{{>layout.hbs}}