{{#partial "contenido"}}

<div class="jumbotron">
	<h1>Administrador</h1>
	<p><a href="/admin/pois"><input type="button" name="pois" value="Administrar POIs"> </input></a></p>
	<p><a href="/admin/terminales"><input type="button" name="terminales" value="Administrar terminales"></input></a></p>
	<p><a href="/admin/busquedas"><input type="button" name="busquedas" value="Historial de busquedas"></input></a></p>
</div>	
<a href="/"><button>Cerrar Sesion</button></a>
{{/partial}}
{{>layout.hbs}}