{{#partial "contenido"}}
<h1>Admin</h1>

<label for="nombre">Nombre</label>
<input type="text" placeholder="Nombre" name="nombre">
label for="tipo">Tipo</label>
<input type="text" placeholder="Tipo" name="tipo">
<table class="table table-stripped">
	<tr>
		<th>Nombre</th>
		<th>Direccion</th>
		<th>Coordenadas</th>
		<th></th>
		<th></th>
	</tr>
	
	{{#each pois}}
		<tr>
			<td>{{nombre}}</td>
			<td>{{direccion}}</td>
			<td>{{ubicacion}}</td>
			<td><a href="admin/modif/poi{{url}}">Modificar</a><td>
			<td>>Eliminar<td> <!-- dEberia eliminar -->
			
		</tr>
	{{/each}}
</table>
{{/partial}}
{{>layout.hbs}}