{{#partial "contenido"}}
<h1>Admin</h1>


	<tr>
		<th>Nombre</th>
		<th>Direccion</th>
		<th></th>
	</tr>
	
	{{#each resultados}}
		<tr>
			<td>{{nombre}}</td>
			<td>{{direccion}}</td>
			<td><a href="{{url}}">Detalles</a></td>
		</tr>
	{{/each}}
</table>
{{/partial}}
{{>layout.hbs}}