{{#partial "contenido"}}
<h1>Nueva Terminal</h1>

<form action="/admin/terminales" method="POST">
	<p><label for="nombre">Nombre: </label>
	<input type="text" name="nombre" value="Nombre" ></p>
	<p><label for="comuna">Comuna: </label>
	<input type="number" name="comuna" placeholder="numero"></p>	
	<p><label> Acciones </label></p>
	<input type="checkbox" name="almacenarBusquedas" value="Almacenar Busquedas">Almacenar Busquedase<br>
	<input type="checkbox" name="notificarAdmin" value="Notificar Admin">Notificar Admin<br>
	<input type="checkbox" name="reporteParcial" value="Reporte Parcial">Reporte Parcial<br>
	<input type="checkbox" name="reportePorFecha" value="Reporte por fecha">Reporte por Fecha<br>
	<input type="checkbox" name="reporteTotalesPorUsuario" value="Reporte totales por Usuario">ReporteTotalesPorUsuario<br>
	<p class="submit"><input type="submit" name="guardar" value="Crear"></p>
</form>
{{/partial}}

{{>layout.hbs}}