{{#partial "contenido"}}
<h1>Nueva Terminal</h1>

<form action="/admin/terminales/crear" method="POST">
	<p><label for="nombre">Nombre: </label>
	<input type="text" name="nombre" required></p>
	<p><label for="comuna">Comuna: </label>
	<input type="text" name="comuna" placeholder="numero" required></p>	
	<p><label for="coordenadas">Coordenadas: X: {{coordenadaX}} - Y: {{coordenadaY}} </label></p>
	<p><input type="text" name="coordenadaXNueva" placeholder="Coordenada X" required></p>
	<p><input type="text" name="coordenadaYNueva" placeholder="Coordenada Y" required></p>
	<p><label> Acciones </label></p>
	<input type="checkbox" name="almacenarBusquedas" value="Almacenar Busquedas">Almacenar Busquedas<br>
	<input type="checkbox" name="notificarAdmin" value="Notificar Admin">Notificar Admin<br>
	<input type="checkbox" name="reporteParcial" value="Reporte Parcial">Reporte Parcial<br>
	<input type="checkbox" name="reportePorFecha" value="Reporte por fecha">Reporte por Fecha<br>
	<input type="checkbox" name="reporteTotalesPorUsuario" value="Reporte totales por Usuario">Reporte Totales Por Usuario<br>
	<p class="submit"><input type="submit" name="guardar" value="Crear"></p>
</form>
<a href="/admin/terminales"><button>Cancelar</button></a>
{{/partial}}

{{>layout.hbs}}