{{#partial "contenido"}}
<h1>Nueva Terminal</h1>

<form action="/admin/terminales" method="POST">
	<p><label for="nombre">Nombre: </label>
	<input type="text" name="nombre" value="Nombre" ></p>
	<p><label for="comuna">Comuna: </label>
	<input type="number" name="comuna" placeholder="numero"></p>	
	
	<p class="submit"><input type="submit" name="guardar" value="Crear"></p>
</form>
{{/partial}}

{{>layout.hbs}}