{{#partial "contenido"}}
<h3>Administracion Terminales</h3>

<button><a href="/admin/terminales/nueva">Agregar></a></button>
<label for="comuna">Comuna</label>
<input type="text" placeholder="Numero comuna" name="comunaBuscada">
<table class="table table-stripped">
	<tr>
		<th>Nombre</th>
		<th>Comuna</th>
		<th></th>
		<th></th>
	</tr>
	
	{{#each terminales}}
		<tr>
			<td>{{nombre}}</td>
			<td>{{comuna}}</td>
			<td><a href="admin/terminales/modificar/{{url}}">Modificar</a><td>
			<td><a href="admin/terminales/eliminar/{{url}}">Eliminar</a><td>
			
		</tr>
	{{/each}}
</table>
{{/partial}}
{{>layout.hbs}}