{{#partial "contenido"}}
<h3>Administracion Terminales</h3>

<form action="/admin/terminales" method="POST">
<label for="comuna">Comuna</label>
<input type="text" placeholder="Numero comuna" name="comunaBuscada">
<input type="submit" name="buscar" value="Buscar">
<input type="submit" name="deshacer" value="Deshacer Filtro">
</form>
<table class="table table-stripped">
	<tr>
		<th>Nombre</th>
		<th>Comuna</th>
		<th></th>
		<th></th>
	</tr>
	
	{{#each terminales}}
		<tr>
			<td>{{nombre}}</td>
			<td>{{numeroComuna}}</td>
			<td><a href="/admin/terminales/modificar/{{url}}">Modificar</a><td>
			<td><a href="/admin/terminales/eliminar/{{url}}">Eliminar</a><td>
			
		</tr>
	{{/each}}
</table>
<a href="/admin/terminales/nueva"><button>Agregar</button></a>
<a href="/admin"><button>Volver</button></a>
{{/partial}}
{{>layout.hbs}}