{{#partial "contenido"}}

{{#with terminal}}
<h1>{{nombre}}</h1>
<h4>Buscar puntos de interes</h2>
<form action="/{{url}}/buscar">
	<input type="text" name="fraseBuscada" placeholder="Ingrese busqueda">
	<input type="submit" value="Buscar">
</form>

{{/with}}
{{/partial}}
{{>layout.hbs}}

