{{#partial "contenido"}}
{{#with poi terminal}}
<h1>{{nombre}}</h1>
<h2>Buscar puntos de interes</h2>
<form action="/terminal/buscar">
	<input type="text" name="fraseBuscada" placeholder="Ingrese busqueda">
	<input type="submit" value="Buscar">
</form>

{{/with}}
{{/partial}}
{{>layout.hbs}}

