{{#partial "contenido"}}

{{#with terminal}}
<h1>{{nombre}}</h1>
<h4>Buscar puntos de interes</h2>
<p><a href="{{url}}/buscarCercanos"><input type="button" name="cercanos" value="Buscar POIs Cercanos"> </input></a></p>
<p><a href="{{url}}/buscarDisponibles"><input type="button" name="disponibles" value="Buscar POIs Disponibles"> </input></a></p>
<form action="/{{url}}/buscarFrase" method="POST">
	<input type="text" name="fraseBuscada" placeholder="Ingrese busqueda">
	<input type="submit" value="Buscar">
</form>
<a href="/"><label>Cerrar Sesion</label></a>
{{/with}}
{{/partial}}
{{>layout.hbs}}

