{{#partial "contenido"}}
<h1>Terminal</h1>

<table class="table table-stripped">
	<tr>
		<th>Nombre</th>
		<th>Direccion</th>
		<th></th>
	</tr>
	
	{{#each pois}}
		<tr>
			<td>{{nombre}}</td>
			<td>{{direccion}}</td>
			<td><a href="{{url}}">Ver Mas</a><td>
			
		</tr>
	{{/each}}
</table>
{{/partial}}
{{>layout.hbs}}