{{#partial "contenido"}}

{{#with terminal}}
	<h1> POI {{nombre}} </h1>
	<p><strong>Direccion:</strong> {{direccion}}</p>
	<p><strong>Comuna:</strong> {{comuna}}</p>
	<p><strong>Palabras clave:</strong> {{tags}}</p>
	
{{/with}}
{{/partial}}

{{>layout.hbs}}