{{#partial "contenido"}}
<h3>Historico de Consultas</h3>

<table class="table table-stripped">
	<tr>
		
	</tr>
	
	{{#each busquedas}}
		<tr>
			
		</tr>
	{{/each}}
</table>

{{/partial}}
{{>layout.hbs}}