{{#partial "contenido"}}
    {{#with resultadoBusqueda}}
        <h1>Detalle Consulta</h1>

        <table class="table table-stripped">
            <tr>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Comuna</th>
            </tr>
            {{#each poisEncontrados}}
                <tr>{{nombre}}</tr>
                <tr>{{direccion}}</tr>
                <tr>{{comuna}}</tr>
            {{/each}}
        </table>

    {{/with}}
    <a href="/admin/busquedas"><button>Volver</button></a>
{{/partial}}

{{>layout.hbs}}