{{#partial "contenido"}}

	<div class="jumbotron">
	  <h1>Bienvenido</h1>
	  <form action="/login" method="POST">
		<p><input type="text" name="nombre" value="" placeholder="Username"></p>
		<p><input type="password" name="password" value="" placeholder="Password"></p>
		<p class="subbmit"><input type="button" name="commit" value="Login"></p>
	</form>
	</div>	

{{/partial}}

{{>layoutWithoutNavBar.hbs}}