{{#partial "contenido"}}

<div class="jumbotron">
  <h1>Bienvenido</h1>
	<p><input type="text" name="login" value="" placeholder="Username"></p>
	<p><input type="password" name="password" value="" placeholder="Password"></p>
	<p class="button"><a href={{url}}><input type="button" name="commit" value="Login"></a></p>
</div>	

{{/partial}}

{{>layoutWithoutNavBar.hbs}}